html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #8b51e1;
  font-size: 1em;
  color: #ededed;

  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.titolo {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 4.5em;
  color: #30007775;
  text-shadow: 2px 2px 0px rgb(163 99 255 / 70%);
}

.regole {
  font-weight: 700;
  font-size: 1.8em;
}

.counter {
  width: 11vw;
  height: 11vw;
  min-width: 165px;
  min-height: 165px;
  border-radius: 3vw;
  background: #6e0bff;
  box-shadow: 7px 12px 0px #7645bf, -31px -31px 62px #a05dff;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 600;
}

.counter #start {
  font-size: 5rem;

}

.obj {
  position: absolute;
  top: 345px;
  left: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: 600;

  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;

  border-radius: 28%;
  color: #141414;
  background: #ededed;
  box-shadow: 3px 2px 20px #7645bf,
    -3px -2px 20px #a05dff;
}

.hide {
  transition: all 1s;
  filter: blur(15px);
  opacity: 0;
}


nav {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s;
}

.tutorial {
  color: #3c3c3c;
  

}

.tutorial ul {
  list-style-type: none;
  padding: 0;
}

.tutorial ul li {
  display: flex;
  align-items: center;
}

.tutorial ul li h4 {
  margin: 12px 0 2px 0;
}

.tutorial .counter,
.tutorial .obj {
  width: 3vw;
  height: 3vw;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;

  border-radius: 13px;

  font-size: 1.2rem;
  color: white;
  margin-left: 5px;
  box-shadow: none;
}


.tutorial .obj {
  position: static;
  color: #141414;
}

.tutorial .material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}

.tutorial b {
  display: contents;
}


.margin {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.comandi {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.comandi li .material-symbols-outlined {
  font-size: 3em;
}

nav ul li {
  list-style: none;
  display: inline;
  margin: 5px;

  background-color: #6e0bff;
  box-shadow: 3px 3px 1px #7645bf;
  border-radius: 10px;
}

nav .punteggio {
  width: 37vw;
  height: 40px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

#punti {
  position: absolute;
  left: 50%;

  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
}

#livello {
  font-weight: 700;
  margin-right: 12px;
  font-size: 3em;
}

nav .punteggio progress {
  display: block;
  width: 100%;
  height: 100%;
}

progress {
  accent-color: #7645bf;
  -webkit-appearence: none;
  border-radius: 2px;

}

progress::-webkit-progress-bar {
  background-color: #795da3;
  border-radius: 20px;
  box-shadow: 0 2px 4px #2a1944 inset;
  transition: all 0.5s;


}


progress::-webkit-progress-value {
  background-color: #7645bf;
  border-radius: 20px;
  transition: all 0.5s;

}

.gameover {
  position: absolute;
  text-align: right;
  z-index: 6;
  width: 60vw;
  height: 45vw;
  border: 2px solid #6738ad;
  background-color: #7645bf;
  border-radius: 3vw;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.gameover h1 {
  font-size: 8vw;
  color: #30007775;
  text-shadow: 2px 2px 0px rgb(163 99 255 / 70%);
  text-align: center;
  margin: 0;
}

.gameover h4 {
  font-size: 3vw;
  text-align: center;
}

.gameover #close {
  display: inline-block;
  font-size: 5vw;
  margin: 10px;
  text-align: right;

  background-color: #6e0bff;
  box-shadow: 3px 4px 1px #581faf;
  border-radius: 1.3vw;
}

.gameover.show {
  display: block;
  opacity: 1;
  /* transform: translate(-50%, -50%) scale(1); */
}

.gameover.hide {
  opacity: 0;
}


/* Media query per tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  /* Regole CSS per tablet */
  nav .punteggio {
    width: 55vw;
  }

  .counter {
    width: 30vw;
    height: 30vw;
    max-width: 215px;
    max-height: 215px;
    border-radius: 50px;
    font-size: 6.5rem;
  }

  .obj {
    width: 8vw;
    height: 8vw;
    max-width: 60px;
    max-height: 60px;
    border-radius: 15px;
    font-size: 1.4em;
  }

  .tutorial {
    font-size: 1.2em;
  }

  .tutorial .counter,
  .tutorial .obj {
    width: 5.5vw;
    height: 5.5vw;
    max-width: 40px;
    max-height: 40px;
  }

  .livello {
    font-size: 2.6em;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  .titolo {
    font-size: 3.5em;
  }

  .tutorial {
    font-size: 1em;
  }

  .tutorial .counter,
  .tutorial .obj {
    width: 8.6vw;
    height: 8.6vw;
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
  }

  nav .punteggio {
    width: 65vw;
  }

  .obj {
    border-radius: 15px;
    width: 11vw;
    height: 11vw;
    max-width: 50px;
    max-height: 50px;
    font-size: 1.5em;
  }

  .counter {
    width: 28vw;
    height: 28vw;
    border-radius: 30px;
    font-size: 3.2rem;
  }
}

/* Media query per smartphone */
@media only screen and (max-width: 450px) {
  .titolo {
    font-size: 3em;
  }

  .tutorial {
    font-size: 0.9em;
  }

  .tutorial .counter,
  .tutorial .obj {
    width: 8.6vw;
    height: 8.6vw;
    max-width: 40px;
    max-height: 40px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 10px;
  }

  nav .punteggio {
    width: 65vw;
  }

  .counter {
    width: 30vw;
    height: 30vw;
    border-radius: 30px;
    font-size: 3.2rem;
  }

  .obj {
    border-radius: 15px;
    width: 12vw;
    height: 12vw;
    font-size: 1.5em;
  }
}